.box1,
.box2 {
  width: 100px;
  height: 100px;
  background-color: black;
}

.line {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border: solid black 0.5px;
}
.task-container {
  display: flex;
  align-items: center;
  gap: 450px;
  position: relative;
}
.instruction {
  position: absolute;
  top: 0;
  left: 0;
}
.large-box {
  width: 450px;
  height: 450px;
  border: thick double rgba(0, 187, 255, 0.298);
  position: relative;
}
.first-middle-box {
  width: 150px;
  height: 150px;
  background-color: blue;
  position: absolute;
  top: 30px;
  left: 20px;
  animation: linear-move 2s infinite linear;
}
.sec-middle-box {
  width: 150px;
  height: 150px;
  background-color: purple;
  position: absolute;
  right: 190px;
  bottom: 70px;
}
.small-box {
  width: 90px;
  height: 90px;
  background-color: green;
  position: absolute;
  top: 110px;
  right: 60px;
}

.animation-small-box {
  animation: twisting 2s infinite ease-in-out;
  transform: scale(1);
}

.animation-first-mid-box {
  animation: bias 2s infinite ease-in-out;
  transform: translateX(0);
}

.animation-sec-mid-box {
  animation: xz 2s infinite ease-in-out;
  transform: translate(0, 0) rotate(0) scale(0);
}

@keyframes twisting {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
@keyframes bias {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
}
@keyframes xz {
  0%,
  100% {
    transform: translate(0) skew(0);
  }
  50% {
    transform: translate(100px,50px) skew(15deg, 10deg);
  }
}
